<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать в мир биологии!</title>
    {% load static %}
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5 text-center">
        <h1>Добро пожаловать в мир биологии!</h1>
        <p class="lead">Здесь вы можете изучать удивительный мир живых организмов, клеток, генов и экосистем.</p>
		<img src="{% static 'biology.png' %}" alt="Биология" width="200" class="mb-4">
		
		<div>
            <a href="{% url 'theory' %}" class="btn btn-primary btn-lg">Читать теорию</a>
        </div>
		
    </div>
</body>
</html>